---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// Load the JSON object via the default export
import data from '../data/just-demo.json';
---

<Layout title="Free mobile website templates | Mobifreaks.com">
	<link rel="preload" as="image" href='images/mobifreaks-mega-bundle-mobile.png'/>
	<main>
		<h1>Mobifreaks</h1>
		<p class="instructions">
			Free mobile website templates. We aim to make web, mobile friendly.
		</p>
		<div class="card">
			<img src="images/mobifreaks-mega-bundle-mobile.png" 
			srcset="images/mobifreaks-mega-bundle@1.5x.png 1.5x, 
							images/mobifreaks-mega-bundle@0.75x.png 0.75x, 
							images/mobifreaks-mega-bundle@0.5x.png 0.5x, 
							images/mobifreaks-mega-bundle@3x.png 3x, 
							images/mobifreaks-mega-bundle.png 1x, 
							images/mobifreaks-mega-bundle@2x.png 2x" 
			alt="MobiFreaks Mega Bundle" 
			class="card-image" 
			width={960} 
			height={540} 
			decoding="async"
			loading="eager"/>
				<div class="card-content">
						<h2 class="card-title">Mobifreaks Mega Bundle: 22 Ready-to-Use stunning mobile website templates</h2>
						<p class="card-description">Unlock a treasure trove of 22 sleek and fully mobile-optimized website templates, perfect for businesses, portfolios, blogs, and more. Crafted with attention to detail, </p>
						<div class="card-footer">
							<a href="https://heymunawar.gumroad.com/l/mf-2024" class="get-this-btn">Get this</a>
							<span class="running-out">Running out! Only 10 left</span>
						</div>
				</div>
		</div>
		<section role="list" class="link-card-grid">
			{
				data.map(({
					title,
					demoURL,
					imageURL
				}) => (
				<Card
					title={title}
					demoURL={demoURL}
					imageURL={imageURL}
				/>
				))
			}
		</section>
		<footer>
			&copy; 2010 Mobifreaks.com
		</footer>
	</main>
</Layout>

<style>
	body {
		background-image: linear-gradient( 111.4deg,  rgb(4, 9, 38) 6.5%, rgb(0, 3, 39) 93.2% );
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 960px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 300;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	footer {
		padding: 5rem 0;
		font-size: 12px;
		opacity: 0.7;
		text-align: center;
	}
	:root {
			--primary-color: #3a86ff;
			--text-color: #333;
			--background-color: #f0f0f0;
			--card-background: #ffffff;
			--accent-color: #ff006e;
	}

	.card {
			background-color: var(--card-background);
			border-radius: 12px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			width: 100%;
			transition: transform 0.3s ease;
			margin-bottom: 4rem;
	}

	.card:hover {
			transform: translateY(-5px);
	}

	.card-image {
		width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.card-content {
		padding: 20px;
	}

	.card-title {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--text-color);
		margin: 0 0 10px 0;
	}

	.card-description {
		font-size: 1rem;
		color: var(--text-color);
		margin-bottom: 20px;
	}

	.card-footer {
		display: flex;
		justify-content:flex-start;
		align-items: center;
	}

	.running-out {
		font-size: 1rem;
		color: var(--accent-color);
		font-weight: bold;
		margin-left: 2rem;
	}

	.get-this-btn {
		background-color: var(--primary-color);
		color: white;
		border: none;
		padding: 10px 40px;
		border-radius: 5px;
		font-size: 1.3rem;
		font-weight: 400;
		cursor: pointer;
		transition: background-color 0.3s ease;
		text-decoration: none;
	}

	.get-this-btn:hover {
		background-color: #2a75e6;
	}
</style>
