---
import { Image } from 'astro:assets';
interface Props {
	title: string;
	demoURL: string;
	downloadURL: string;
	githubURL: string;
	imageURL: string;
}

const { demoURL, title, imageURL } = Astro.props;
---

<div class="link-card">
	<a href={demoURL}><Image src={imageURL} alt={title + " preview"} width={300} height={533} densities={[1.5, 2, 3]} /></a>
	<div class="buttons">
		<header>
			<h2>{title}</h2>
		</header>
		<a href={demoURL} title={"View " + title} class="demo-btn">Demo</a>
	</div>
</div>
<style>
	.link-card {
		display: block;
		background-color: #19243d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		overflow: hidden;
		transition: transform 0.3s ease;
	}
	.link-card:hover {
		transform: translateY(-5px);
	}
	.link-card > .buttons {
		padding: 1rem;
	}
	.link-card img {
		max-width: 100%;
		width: 100%;
	}
	.link-card a {
		text-decoration: none;
		border-radius: 8px;
		color: white;
		opacity: 0.8;
		font-size: 14px;
		&:hover {
			color: pink;
		}
	}
	h2 {
		margin: 0 0 .5rem;
		font-size: 18px;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.demo-btn {
		display: block;
		background-color: #000;
		color: white;
		text-align: center;
		border: none;
		padding: 10px 40px;
		border-radius: 5px;
		font-size: 1.3rem;
		font-weight: 400;
		cursor: pointer;
		transition: background-color 0.3s ease;
		text-decoration: none;
		margin:1rem 0 0;
	}
</style>
